:root{
    --drawingColor:#CAD;
    --boardSize:16;
    /*var(--name);*/

}

body{
    margin:0;
    background-color: #000;
    font-family: Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif;     

}

.wrapper{
    color:black;
    display:flex;
    flex-direction: column;
    background-color: #FFF;
    transition: 1s;
    
}

.header{
    
    background-color: #000;
    color:white;
    padding:20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;

}
.board{
    transition: 1s;
    box-shadow: 0 0 2em rgb(156, 156, 156);
    border: 2px solid var(--drawingColor);
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;
    width: 640px;
    height: 640px;
    margin-bottom:1rem;

}

.tile{
    background-color: rgba(255, 255, 255, 0);
    width: calc(640px/var(--boardSize));
    height: calc(640px/var(--boardSize));
    transition: 0.2s;
    
    /*
    width: 640/var(--boardSize) px;
    height: 640/var(--boardSize) px;
    */
}

.dark-mode{
    background-color: #111;
    color: #111 !important;
 
}

.tileMarked{
    background-color: var(--drawingColor);
}

#darkMode{
    transition: .25s;
    border: none;
    height: 3rem;
    width: 3rem;
    background-color: rgb(0, 0, 0);
    border-radius: 30%;
    background-image: url("./moon2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    
}

.clearButton{
    margin:1rem;
    transition: .5s;
    border: 3px solid rgba(0, 0, 0, 0);
    background-color: var(--drawingColor);
    color: #FFF;
    font-size: 2rem;
    font-family: Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif; 
}


.clearButton:hover{
    
    border: 3px solid var(--drawingColor);
    background-color: rgba(0, 0, 0, 0);
    color: var(--drawingColor) !important;
}

#darkMode:hover{
    background-color: rgb(44, 44, 48);
}

.ButtonBox{
   display: flex;
   justify-content: center; 
   align-items: center;
}
#colorPicker{
    position: absolute;
    opacity: 0;
    

}